//fonts
@font-face {
  font-family: Golos;
src: url("../assest/fonts/golos-text_vf.woff");
}
@font-face {
  font-family: Nagel;
  src: url("../assest/fonts/Nagel_Medium.woff");
}


//settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 9.5%;
  padding-right: 9.5%;
  padding-top: 40px;
}

section {
  display: flex;
}

.left_pos {
  width: 15.5%;
}

.right_pos {
  width: 65.5%;
}


//header
.logo {
  font-family: Golos, serif;
  font-size: 16px;
}

.header {
  justify-content: space-between;
  padding-bottom: 145px;
}

.list_menu {
  ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    li {
      list-style-type: none;
      a {
        font-family: Golos, serif;
        color: #000;
        text-decoration: none;
        transition: 0.3s;
      }
      a:hover {
        color: #FF9A22;
      }
    }
  }
}


//intro
.intro{
  justify-content: space-between;
  padding-bottom: 100px;
  .left_pos {
    img {
      width: calc(112px + 10.5vw);
      height: calc(177px + 10.5vw);
      object-fit: cover;
      border-radius: 15px;
    }
  }
  .right_pos {
    p {
    font-family: Nagel, serif;
      font-size: 45px;
      line-height: 42.75px;
      letter-spacing: 2.5px;
      span {
        color: #FF9A22;
      }
    }
  }
}


//about me
.about_me {
  justify-content: space-between;
  padding-bottom: 160px;
  .left_pos {
    .about_me__header {
      font-family: Golos, serif;
      font-weight: 500;
    }
  }
  .right_pos {
    .about_me__text-info {
      font-family: Golos, serif;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

//skills
.skills {
  justify-content: space-between;
  padding-bottom: 160px;

  .left_pos {
    .skills__header {
      font-family: Golos, serif;
      font-weight: 500;
    }
  }

  .right_pos {
    .container-box {
      display: flex;

      .dabble_box:last-child {
        margin-right: 0;
      }
      .dabble_box {
        margin-right: 20px;
      }
    }
  }
  .box {
    width: calc(0px + 12.2vw);
    height: calc(0px + 12.2vw);
    background-color: #9CB1FF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    p {
      color: white;
      font-family: Golos, serif;
      font-weight: 600;
      margin: 0;
    }
  }
}
